#videoListContainer.videoListContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  column-gap: 20px;
  padding-inline: 15px;
  padding-block: 60px;
  overflow: hidden;
  height: 600px;
}

.paginationArrow {
  font-size: 40px;
  cursor: pointer;
}

#videoListContainer > .videoContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 10px;
  padding-inline: 0;
  justify-content: space-around;
  transition: visibility 0.5s linear, opacity 0.5s ease-out,
    transform 0.5s ease-out, width 0s linear;
  will-change: opacity, visibility;
}

#videoListContainer > .videoContainer {
  width: 100%;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

#videoListContainer > .scrollAnimation {
  width: 100%;
  opacity: 0;
  transform: translateX(-100%);
  visibility: hidden;
}

#videoListContainer > .nextVideoContainer {
  width: 100%;
  opacity: 0;
  visibility: visible;
  transform: translateX(100%);
}

#videoListContainer > .nextVideoContainer.nextScrollAnimation {
  width: 100%;
  opacity: 1;
  transform: none;
  visibility: visible;
  margin-left: -20px;
}
